<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Solid Mechanics Conference Warsaw 2018">
    <meta name="author" content="Piotrek" >
	<meta name="Keywords" content="solmech, solmech2018, solid mechanics, conference">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="icon" href="img/favicon.png" type="image/x-icon">
    <title>SOLMECH 2018</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="css/style.css" rel="stylesheet">
	<script>
    $('#extra-text').on('hidden.bs.collapse', function () {
      $('#read-more').text('Read More');
    });
    $('#extra-text').on('shown.bs.collapse', function () {
      $('#read-more').text('Read less');
    });
   </script>
   <style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
	</style>
   
</head>

<body>
    <div class="container content">
		<header id="header">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<a href="index.html">
						<img src="img/home.png" alt="Solmech 2018">
					</a>
				</div>
				<div id="data" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<h1>41st SOLID MECHANICS CONFERENCE</h1>
					<h2>27-31 AUGUST 2018, WARSAW, POLAND</h2>
				</div>
			</div>
        </header>
#mainmenu
#image
		<div class="row margin">
			<div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3 col-lg-9 col-lg-push-3">
				<div class="panel panel-default content-panel">
					<div class="panel-body">
#content
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9 col-lg-3 col-lg-pull-9">
#menu
            </div>
		</div>	

#footer
	</div>	
	<script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-hover-dropdown.min.js"></script>
</body>
</html>







	